# IDE
.idea/
*.iml

# Build output
out/
target/
build/

# Compiled files
*.class

# Archives
*.zip
*.rar
*.7z

# System files
.DS_Store
Thumbs.db

inventory_save.txt



.idea/
*.iml
out/
target/
sources.txt
inventory_save.txt
*.class
*.zip